/**************** About Section Style ****************/

.about-section{
    padding: 80px 0;
    background-color: $black;
    position: relative;
    overflow-x: hidden;
    &__content{
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 800px;
        margin: auto;
        align-items: center;
        flex-direction: column;
        position: relative;
        z-index: 1;
    
        img{
            width: 200px;
            margin-bottom: 30px;
        }
        h2{
            color: $white;
            margin-bottom: 40px;
        }
        p{
            color: $orange;
            font: 16px $font-RalewayRegular;
            margin-bottom: 20px;
        }
    }
    .about-overlay{
        position: absolute;
        top: 0;
        right: -100px;
        width: 800px;
        opacity: 0.3;
    }
}

/**************** About Section Responsive Style ****************/

@media (max-width: 991px){
    
}