/**************** About Section Style ****************/

.about-section{
    padding: 80px 0;
    background-color: $black;
    position: relative;
    overflow-x: hidden;
    &__content{
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 800px;
        margin: auto;
        align-items: center;
        flex-direction: column;
        position: relative;
        z-index: 1;
    
        img{
            width: 200px;
            margin-bottom: 30px;
        }
        h2{
            color: $white;
            margin-bottom: 40px;
        }
        p{
            color: $orange;
            font: 16px $font-RalewayRegular;
            margin-bottom: 20px;
        }
    }
    .about-overlay{
        position: fixed;
        z-index: 0;
        right: -50px;
        top: 50px;
        img{
            width: 600px;
            opacity: 0.3;
        }
    }
}

/**************** About Section Responsive Style ****************/

@media (max-width: 991px){
    .about-section{
        &__content{
            width: 700px;
        }
    }
}

@media(max-width: 767px){
    .about-section{
        &__content{
            width: 500px;
        }
    }
}

@media(max-width:580px){
    .about-section{
        &__content{
            width: 400px;
        }
    }
}
@media(max-width:480px){
    .about-section{
        &__content{
            width: 100%;
            padding: 0 15px;
        }
        .about-overlay{
            top: 150px;
            right: -150px;
        }
    }
}