/**************** Contact Page Style ****************/

.contact-page{
    background-color: $black;
    position: relative;
    overflow: hidden;
    min-height: 80vh;
    .contact-overlay{
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        justify-content: flex-end;
        position: absolute;
        z-index: 0;
        right: -50px;
        left: 0;
        top: -50px;
        img{
            width: 550px;
            opacity: 0.3;
        }
    }
    &__inner{
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 1100px;
        margin: 80px auto;
        justify-content: space-evenly;
        position: relative;
        z-index: 1;
        h1{
            color: $white;
            font-size: 28px;
            width: 1000px;
            margin: auto;
            text-align: left;
        }
        &--form{
            display: -webkit-box;
            display: -moz-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;       
            position: relative;
            z-index: 1;
            .contact-form{
                position: relative;
                z-index: 2;
                width: auto;
                margin: 0;
                padding: 50px 0 80px 0;
                form{
                    justify-content: center;
                    height: 100%;
                }

            }
            .contact-image{
                width: 500px;
                padding: 50px 0 80px 0;
                position: relative;
                .map-image{
                    width: 100%;
                    margin-bottom: 30px;
                }
                p{
                    font: 16px/1.4 $font-RalewayRegular;
                    color: $orange;
                    margin-bottom: 0;
                }
                .map-pin{
                    position: absolute;
                    top: 335px;
                    right: 175px;
                    width: 30px;
                }
            }
        }
        
    }
    
}