/**************** Hero Section Style ****************/
.hero{
    display:-ms-grid;
    display:grid;
    grid-template-columns: 1fr 1000px 1fr;
    grid-template-rows: 650px;
    grid-template-areas: ". caption .";
    height: 100%;
    background-color: $black;
    border-bottom: 3px solid rgba(#000000, 0.2);
    position: relative;
    z-index: 1;
}

.hero-section{
    grid-area: caption;
    justify-content: center;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 0;
    .overlay {
        position: absolute;
        top: -40px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        overflow: hidden;
        img{
            display: inline-block;
            opacity: 0.25;
            width: 100%;
            height: 100%;
            margin-bottom: 0;
        }
    }
    &__caption{
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
        max-width: 800px;
        img{
            width: 150px;
            margin-bottom: 30px;
        }
        h1{
            font-size: 32px;
            text-transform: uppercase;
            color: $orange;
        }
        p{
            font: 16px $font-HindMaduraiRegular;
            color: $grey;
        }   
    }
    .scroll-down{
        position: absolute;
        bottom: -35px;
        right: -35px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 1px solid rgba(#000, 0.4);
        background-color: $black;
        -moz-box-shadow:     0 0 0 #000;
        -webkit-box-shadow:  0 0 0 #000;
        box-shadow:          0 0 0 #000;
        -webkit-transform: scale(1); /* WebKit */
        -moz-transform: scale(1); /* Mozilla */
        -o-transform: scale(1); /* Opera */
        -ms-transform: scale(1); /* Internet Explorer */
        transform: scale(1);
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        &.hovered{
        -moz-box-shadow:     0 0 10px #000;
        -webkit-box-shadow:  0 0 10px #000;
        box-shadow:          0 0 10px #000;
        -webkit-transform: scale(0.94); /* WebKit */
        -moz-transform: scale(0.94); /* Mozilla */
        -o-transform: scale(0.94); /* Opera */
        -ms-transform: scale(0.94); /* Internet Explorer */
        transform: scale(0.94);
        }

        a{
            width: 100%;
            height: 100%;
            display: inline-block;
            overflow: hidden;
            img{
                position: absolute;
                top: -33px;
                left: 19px;
                width: 40px;
                margin: 0;
            }
            &:hover{
                img{
                    animation: scroll 0.7s linear infinite alternate;
                }
            }
        }

    }
}

/**************** Content Section Style ****************/

.content-links{
    display: grid;
    grid-template-columns: 1fr 50px 1000px 50px 1fr;
    grid-template-rows: 200px 200px 200px;
    grid-template-areas: 
    ". thread-left catlink-heading thread-right ."
    ". thread-left catlink-content thread-right ."
    ". thread-left catalog-link thread-right .";
    align-items: center;
    background-color: $black;
    height: 100%;
    border-bottom: 3px solid rgba(#000000, 0.2);
    position: relative;
    .thread-left{
        grid-area: thread-left;
    }
    .thread-right{
        grid-area: thread-right;
    }
    &__heading{
        grid-area: catlink-heading;
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-flow: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 100%;
        height: 100%;
        h2{
            text-transform: uppercase;
            font-size: 24px;
            color: $orange;
            margin-bottom: 20px;
        }
        p{
            font: 16px $font-HindMaduraiRegular;
            color: $grey;
        }
    }
    &__content{
        grid-area: catlink-content;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        display: grid;
        align-items: center;
        grid-gap: 50px;
        .section-link{
            display: -webkit-box;
            display: -moz-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            background: $black;
            height: 100%;
            width: 100%;
            &:before,&:after{
                content: '';
                width: 3px;
                height: 3px;
                border-radius: 50%;
                opacity: 0;
                background-color: $orange;
                position: absolute;
                -webkit-transition: 1s;
                -moz-transition: 1s;
                -o-transition: 1s;
                transition: 1s;
            }

            &:before{
                bottom: -7px;
                left: -3px; 
            }
            &:after{
                bottom: -7px;
                right: -3px;
            }
            span{
                position: absolute;
                height: 2px;
                bottom: -6px;
                left: 0;
                width: 0;
                border-bottom: 1px dashed $orange;
                -webkit-transition: 1s;
                -moz-transition: 1s;
                -o-transition: 1s;
                transition: 1s;
            }
            img{
                display: inline-block;
                max-width: 100%;
                max-height: 100px;
            }
            p{
                font: 16px $font-HindMaduraiLight;
                color: $orange;
                position: absolute;
                left: 0;
                right: 0;
                bottom: -40px;
                opacity: 0;
                text-align: center;
                -webkit-transition: 1s;
                 -moz-transition: 1s;
                -o-transition: 1s;
                transition: 1s;
            }
            &.hovered{
                span{
                    width: 100%;
                }
                &:before{
                    opacity: 1;
                }
                &:after{
                    opacity: 1;
                }
                p{
                    bottom: -45px;
                    opacity: 1;
                    
                }
            }
        }
    }

    .collection-links{
        grid-area: catalog-link;
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        background-color: $black;
        a{
            color: #fff;
            font: 16px $font-CinzelRegular;
            text-align: center;
            padding: 10px 15px;
            border: 1px solid $orange;
            transform: scale(1);
            -moz-box-shadow:     0 0 0 $orange;
            -webkit-box-shadow:  0 0 0 $orange;
            box-shadow:          0 0 0 $orange;
            -webkit-transition: 0.4s;
            -moz-transition: 0.4s;
            -o-transition: 0.4s;
            transition: 0.4s;
            span{
                padding: 0 10px 0 0;
                img{
                    width: 20px;
                
                }
            }
            &:hover{
                text-decoration: none;
                img{
                animation: arrow-slide 0.7s linear infinite alternate;
                }
                transform: scale(0.97);
                -moz-box-shadow:     0 0 10px $orange;
                -webkit-box-shadow:  0 0 10px $orange;
                box-shadow:          0 0 10px $orange;
            }
        }
    }
}

.thread-left, .thread-right{
    width: 100%;
    height: 100%;
    position: relative;
    &__inner{
        position: absolute;
        top: 1px;
        bottom: 1px;
        border-radius: 25px;
        width: 100%;
    }
    &:before,&:after{
        content: '';
        position: absolute;
        width: 4px;
        height: 4px;
        background-color: $orange;
        border-radius: 50%;
    }
    &:before{
        top: 0;
        
    }
    &:after{
        bottom: 0;
    }
}

.thread-left{
    &__inner{
        right: 0;
        border-left: 2px dashed $orange;
    }
    &:before,&:after{
        right: 50%;
    }
}
.thread-right{
    &__inner{
        left: 0;
        border-right: 2px dashed $orange;
    }
    &:before,&:after{
        left: 50%;
    }
}

/**************** More Info Section Style ****************/

.more-info{
    display:-ms-grid;
    display:grid;
    grid-template-columns: 1fr 800px 1fr;
    grid-template-rows: 100px 1fr 10px 1fr 100px;
    grid-template-areas: 
    ". . ."
    ". more-info ."
    ". . ."
    ". contact-section .";
    height: 100%;
    background-color: $black;
    &__section,
    &__contact{
        a{
            display: -webkit-box;
            display: -moz-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            height: 100%;
            width: 100%;
            align-items: center;
            text-decoration: none;
            justify-content: center;
            position: relative;
            padding: 30px 0;
            z-index: 1;
            transform: scale(1);
            -webkit-transition: 1s;
            -moz-transition: 1s;
            -o-transition: 1s;
            transition: 1s;
            .more-content{
                h3{
                display: -webkit-box;
                display: -moz-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                font: 24px/1 $font-CinzelBold;
                color: $orange;
                text-transform: uppercase;
                }
            }
            .more-img{
                width: 150px;
                border-radius: 50%;
                -moz-box-shadow:     0 0 15px rgba(#000, 0.6);
                -webkit-box-shadow:  0 0 15px rgba(#000, 0.6);
                box-shadow:          0 0 15px rgba(#000, 0.6);
            }
            .hover-deco{
                position: absolute;
                &__top, &__bottom{
                    position: absolute;
                    opacity: 0;
                    width: 0;
                    height: 0;
                    z-index: 1;
                    -webkit-transition: 1s;
                    -moz-transition: 1s;
                    -o-transition: 1s;
                    transition: 1s;
                }
                &__top{
                    top: 1px;
                    right: 1px;
                    border-top: 1px dashed $orange;
                    border-right: 1px dashed $orange;
                }
                &__bottom{
                    bottom: 1px;
                    left: 1px;
                    border-bottom: 1px dashed $orange;
                    border-left: 1px dashed $orange;
                }
            }
            &:before, 
            &:after{
                content: '';
                position: absolute;
                width: 4px;
                height: 4px;
                background-color: $orange;
                border-radius: 50%;
                z-index: 0;
                opacity: 0;
            }
            &:before{
                top: -1px;
                left: -1px;
                
            }
            &:after{
                bottom: -1px;
                right: -1px;
            }
            &:hover{
                transform: scale(0.96);
                &:before, 
                &:after{
                    opacity: 1;
                }
                .hover-deco{
                    &__top, 
                    &__bottom{
                        opacity: 1;
                        width: 100%;
                        height: 100%;
                    }
                }
               
            }
        }
    }

    &__section{
        grid-area: more-info;
        a{
        flex-direction: row;
        flex-flow: row-reverse;
            .more-content{
                text-align: right;
                margin-right: 40px;
                max-width: 500px;
                h3{
                    flex-flow: row-reverse;
                    justify-content: end;
                    
                    img{
                        height: 24px;
                        transform: rotateZ(180deg);
                        margin-left: 10px;
                    }
                }
                p{
                    font: 16px/1.2 $font-HindMaduraiRegular;
                    color: $grey;
                }
            }
        }
    }

    &__contact{
        grid-area: contact-section;
        a{
            flex-direction: row;
            flex-flow: row;
        .more-content{
            text-align: left;
            margin-left: 40px;
            max-width: 500px;
            h3{
                flex-flow: row;
                justify-content: start;
                img{
                    height: 24px;
                    margin-right: 10px;
                }
                }
                p{
                    font: 16px/1.2 $font-HindMaduraiRegular;
                    color: $grey;
                }
        }
    }
}
}


/**************** Responsve ****************/


@media (max-width: 1200px){

    /**************** Hero Responsive Style ****************/
    .hero{
        grid-template-columns: 1fr 800px 1fr;
    }


    /**************** Content Section Style ****************/
    .content-links{
        grid-template-columns: 1fr 50px 800px 50px 1fr;
        grid-template-rows: 200px 1fr 1fr;
        &__content{
            grid-template-columns: 100px 100px 100px 100px;
            justify-content: center;
        }
    }
}

@media (max-width: 991px){
    /**************** Hero Responsive Style ****************/
    .hero{
        grid-template-columns: 30px 1fr 30px;
        grid-template-areas: ". caption .";
    }

    .hero-section {
        .scroll-down{
            right: 50%;
            transform: translateX(50%);
            a{
                img{
                    animation: scroll 0.7s linear infinite alternate;
                }
            }
            &.hovered{
                right: 50%;
                transform: translateX(50%);
            }
        }
    }
    /**************** Content Section Style ****************/
    .thread-left, .thread-right{
        display: none;
    }

    .content-links{
        height: 100%;
        grid-template-columns: 30px 1fr 30px;
        grid-template-rows: 250px 1fr 180px;
        grid-template-areas: 
        ".  catlink-heading ."
        ".  catlink-content ."
        ".  catalog-link .";
        &__content{
        grid-template-columns: 100px 100px 100px 100px;
        justify-content: center;
        }
        .section-link{
            span{
                position: absolute;
                height: 2px;
                bottom: -6px;
                left: 0;
                width: 100%;
            }
            p{
                font: 16px $font-HindMaduraiLight;
                bottom: -45px;
                opacity: 1;
            }
            &:before,&:after{
                content: '';
                opacity: 1;
                position: absolute;
                
            }

            &:before{
                bottom: -7px;
                left: -3px; 
            }
            &:after{
                bottom: -7px;
                right: -3px;
            }

        }
    }

    /**************** More Info Section Style ****************/
    .more-info{
        grid-template-columns: 30px 1fr 30px;
        grid-template-rows: 100px 1fr 10px 1fr 100px;
        grid-template-areas: 
        ". . ."
        ". more-info ."
        ". . ."
        ". contact-section .";
        height: 100%;
    }
}


@media (max-width: 767px){
    /**************** Hero Responsive Style ****************/
    .hero-section{
        &__caption{
            h1{
                font-size: 26px;
            }
        }
    }

    /**************** Content Section Style ****************/
    .content-links{
        grid-template-rows: 250px 30px 1fr 40px 100px;
        grid-template-areas: 
        ".  catlink-heading ."
        ". . ."
        ".  catlink-content ."
        ". . ."
        ".  catalog-link .";
        &__heading {
            h2{
                font-size: 20px;
            }
        }
        &__content{
            grid-template-columns: 100px 100px;
            justify-content: center;
        }
    }

    /**************** More Info Section Style ****************/
    .more-info{
        &__section,
        &__contact{
            a{
                .more-content, .more-info{
                    h3{
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

@media(max-width: 580px){
    .hero{
        grid-template-rows: 550px;
    }
    .content-links{
        grid-template-rows: 300px 30px 1fr 40px 100px; 
    }
    .more-info{
        grid-template-columns: 10px 1fr 10px;
        grid-template-rows: 50px 1fr 10px 1fr 50px;
        grid-template-areas:
            ". . ."
            ". more-info ."
            ". . ."
            ". contact-section .";
        height: 100%;
        &__section,
        &__contact{
            a{
                display: block;
                padding: 20px;
                .more-img{
                    display: block;
                    margin: auto;
                    margin-bottom: 20px;
                    width: 120px;
                }
                .more-content{
                    text-align: left;
                    margin: 0;
                    h3{
                        line-height: 1.3;
                        flex-flow: row;
                    }
                    img{
                        margin: 0 10px 0 0;
                        width: 20px;
                    }
                    .more-img{
                        
                    }
                }
            }
    }   
        &__section{
            a{
                .more-content {
                    h3{
                        img{
                            transform: rotateZ(0deg);
                            margin: 0 10px 0 0;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:480px){
    .content-links{
        grid-template-columns: 10px 1fr 10px;
        grid-template-rows: 350px 30px 1fr 40px 100px;
    }
}

@media(max-width:375px){
    .hero{
        grid-template-columns: 0 1fr 0;
    }
    .hero-section{
        padding: 0 20px;
    }
}