/**************** Order Form Style ****************/

.order-section{
    display:-ms-grid;
    display:grid;
    position: relative;
    margin-top: 160px;
    padding-bottom: 80px;
    grid-template-areas: 
    ". form .";
    grid-template-columns: 1fr 800px 1fr;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: -200px;
        width: 700px;
        height: 100%;
        background: url('../img/hero-bg.svg') no-repeat;
        transform: rotateY(180deg);
        opacity: 0.2;
    }
    &__form{
        grid-area: form;
        justify-content: center;
        padding: 120px 60px 60px 60px;
        background: $black;
        border: 3px solid rgba(#000000, 0.2);
        position: relative;
        z-index: 2;
        .form-image{
            position: absolute;
            top: -99px;
            left: 50%;
            transform: translateX(-50%);
            height: 195px;
            width: 195px;
            padding: 22px;
            overflow: hidden;
            border-radius: 50%;
            background: $black url('../img/frame.png') center/contain no-repeat;
            img{
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
        }
        p{
            color: $grey;
            font: 14px $font-HindMaduraiRegular;
            margin-bottom: 40px;
        }
        label{
            width: 100%;
            font: 16px $font-CinzelRegular;
            margin-bottom: 20px;
            span{
                color: $grey;
                
            }
            input{
                width: 100%;
                background: $black;
                border: 2px solid $orange;
                color: $grey;
                padding: 5px 10px;
                -webkit-transition: 0.4s;
                -moz-transition: 0.4s;
                -o-transition: 0.4s;
                transition: 0.4s;
                &:focus{
                    outline: none;
                    margin-top: 10px;
                    -moz-box-shadow:     0 0 10px $orange;
                    -webkit-box-shadow:  0 0 10px $orange;
                    box-shadow:          0 0 10px $orange;
                }
            }
        }
        .form-submit{
            position: absolute;
            bottom: -25px;
            left: 50%;
            padding: 15px 30px;
            border: 3px solid rgba(#000000, 0.2);
            background: $black;
            color: #fff;
            font: 16px $font-CinzelRegular;
            -webkit-transform: scale(1) translate(-50%); /* WebKit */
            -moz-transform: scale(1) translate(-50%); /* Mozilla */
            -o-transform: scale(1) translate(-50%); /* Opera */
            -ms-transform: scale(1) translate(-50%); /* Internet Explorer */
            transform: scale(1) translate(-50%);
            -webkit-transition: 0.4s;
            -moz-transition: 0.4s;
            -o-transition: 0.4s;
            transition: 0.4s;
            &:hover{
                -moz-box-shadow:     0 0 10px #000;
                -webkit-box-shadow:  0 0 10px #000;
                box-shadow:          0 0 10px #000;
                -webkit-transform: scale(1.01) translate(-50%); /* WebKit */
                -moz-transform: scale(1.01) translate(-50%); /* Mozilla */
                -o-transform: scale(1.01) translate(-50%); /* Opera */
                -ms-transform: scale(1.01) translate(-50%); /* Internet Explorer */
                transform: scale(1.01) translate(-50%);
            }
        }
    }
}

/**************** Order Form Responsive Style ****************/

@media(max-width:991px){
    
}