@font-face {
    font-family: "Raleway Regular";
    src: url("../font/Raleway-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Raleway Bold";
    src: url("../font/Raleway-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Libre Baskerville Bold";
    src: url("../font/LibreBaskerville-Bold.ttf") format("truetype");
}