@font-face {
    font-family: "Cinzel Regular";
    src: url("../font/Cinzel-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Cinzel Bold";
    src: url("../font/Cinzel-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Cinzel Black";
    src: url("../font/Cinzel-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Hind Madurai Light";
    src: url("../font/HindMadurai-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Hind Madurai Regular";
    src: url("../font/HindMadurai-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Hind Madurai Medium";
    src: url("../font/HindMadurai-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Hind Madurai Semi Bold";
    src: url("../font/HindMadurai-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Hind Madurai Bold";
    src: url("../font/HindMadurai-Bold.ttf") format("truetype");
}

