/**************** Footer Style ****************/

.footer{
    background: $dark-brown;
    &-top, &-bottom__wrap{
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 1000px;
        margin: auto;
    }
    &-top{
        padding: 40px 0;
        .footer-links{
            display: -webkit-box;
            display: -moz-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            justify-content: space-between;
            padding: 0;
            margin: 0;
            width: 100%;
            list-style: none;
            li{
                margin: 0 10px;
                &:first-of-type{
                    margin-left: 0;
                }
                &:last-of-type{
                    margin-right: 0;
                }
                a{
                    display: -webkit-box;
                    display: -moz-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    align-items: center;
                    color: $white;
                    font: 16px/1 $font-RalewayRegular;
                    img{
                        height: 40px;
                        margin-right: 10px;
                    }
                    p{
                        margin-bottom: 0;
                        position: relative;
                        span{
                            position: absolute;
                            bottom: -7px;
                            left: 0;
                            border: 0.5px dashed $orange;
                            width: 0;
                            opacity: 0;
                            transition: 0.4s;
                            &:before, &:after{
                                content: '';
                                position: absolute;
                                bottom: -2px;
                                width: 3px;
                                height: 3px;
                                border-radius: 50%;
                                background: $orange;
                                transition: 0.4s;
                            }
                            &:before{
                                left: -1px;
                            }
                            &:after{
                                right: -1px;
                            }
                        }
                    }
                    &:hover{
                        text-decoration: none;
                        p{
                            span{
                                width: 100%;
                                opacity: 1;
                                &:before, &:after{
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
               
            }
        }
    }
    &-bottom{
        background: $orange;
        padding: 10px 0;
        &__wrap{
            justify-content: space-between;
            align-items: center;
            .copyright{
                margin: 0;
                font: 14px/1 $font-RalewayRegular;
                color: $white;
            }
            .footer-nav{
                display: -webkit-box;
                display: -moz-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                list-style: none;
                padding: 0;
                margin: 0;
                li{
                    margin: 0 10px;
                    font: 16px/1 $font-RalewayRegular;
                    &:first-of-type{
                        margin-left: 0;
                    }
                    &:last-of-type{
                        margin-right: 0;
                    }
                    a{
                        color: $white;
                    }
                }
            }
        }
    }
}

/**************** Footer Responsive Style ****************/

@media(max-width: 1200px){
    .footer{
        &-top, &-bottom__wrap{
            width: 900px;
        }
        &-top{
            .footer-links{
                flex-direction: column;
                li{
                    margin-bottom: 20px;
                    a{
                        justify-content: center;
                        flex-direction: column;
                        img{
                            margin-bottom: 20px;
                        }
                    }
                    &:last-of-type{
                        margin-bottom: 0;
                    }
                }
            }
        }
        
    }
}

@media(max-width: 991px){
    .footer{
        &-top, &-bottom__wrap{
            width: 100%;
        }
        &-bottom{
            &__wrap{
                flex-direction: column-reverse; 
                .footer-nav{
                    flex-direction: column;
                    margin-bottom: 20px;
                    li{
                        margin: 10px 0;
                        text-align: center;
                    }
                }
            }
        }
    }
}
@media(max-width: 480px){
    .footer{
        &-top{
            .footer-links{
                li{
                    a{
                        p{
                            text-align: center;
                        }
                    }
                 }
            }
                    
              
        }
    }
}