/**************** Fonts ****************/
$font-RalewayRegular: "Raleway Regular";                    // 400
$font-RalewayBold: "Raleway Bold";                          // 700
$font-LibreBold: "Libre Baskerville Bold";

/**************** Colors ****************/

$orange: #B55C30;
$black: #111111;
$dark-brown: #1A1817;
$grey: #919191;
$white: #ffffff;
// $green:  #B187C68;


h1,h2,h3,h4,h5,h6{
    font-family: $font-LibreBold;
}

.content {
    position: relative;
}
body{
    &.no-scroll{
        position: fixed; 
        overflow-y:scroll;
        right: 0;
        left: 0;
    }
}