/**************** Fonts ****************/
$font-RalewayRegular: "Raleway Regular";                    // 400
$font-RalewayBold: "Raleway Bold";                          // 700
$font-LibreBold: "Libre Baskerville Bold";


$font-CinzelRegular: "Cinzel Regular";                    // 400
$font-CinzelBold: "Cinzel Bold";                          // 700
$font-CinzelBlack: "Cinzel Black";                        // 900

$font-HindMaduraiLight: "Hind Madurai Light";             // 300
$font-HindMaduraiRegular: "Hind Madurai Regular";         // 400
$font-HindMaduraiMedium: "Hind Madurai Medium";           // 500
$font-HindMaduraiSemiBold: "Hind Madurai Semi Bold";      // 600
$font-HindMaduraiBold: "Hind Madurai Bold";               // 700

/**************** Colors ****************/

$orange: #B55C30;
$black: #111111;
$dark-brown: #1A1817;
$grey: #919191;
$white: #ffffff;
// $green:  #B187C68;


h1,h2,h3,h4,h5,h6{
    font-family: $font-LibreBold;
}

.content {
    position: relative;
}