body{
    &.open{
        overflow: hidden;
    }
}

/**************** Header Main Style ****************/
header{
    background-color: $dark-brown;
}

.header{
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 1000px;
    margin: auto;
    padding: 20px 0;
}
.logo-text, .main-menu, .language-select{
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}
.main-menu, .language-select{
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    
}

.logo-text{
    flex-basis: 200px;
    font: 16px/1 $font-LibreBold;
    color: $white;
    -webkit-font-smoothing: subpixel-antialiased;
    transition: transform 0.2s ease-out;
    &:hover{
        color: $white;
        transition: transform 0.2s ease-out;
        text-decoration: none;
    }
}

.main-menu{
    flex-basis: 100%;
    li{
        margin: 0 5px;
        a{
            color: $orange;
            font: 15px/1 $font-RalewayRegular;
            transition: font-weight 0.4s;
            font-weight: 400;
            padding: 5px 10px;
            position: relative;
            span{
                position: absolute;
                left: 1px;
                bottom: -2px;
                width: 0;
                opacity: 0;
                border-bottom: 1px dashed $orange;
                transition: 0.4s;
                &:before, &:after{
                    content: '';
                    position: absolute;
                    bottom: -2px;
                    width: 3px;
                    height: 3px;
                    border-radius: 50%;
                    background: $orange;
                    
                    transition: 0.4s;
                }
                &:before{
                    left: 0;
                }
                &:after{
                    right: 0;
                }
            }
            &:hover{
                text-decoration: none;
                span{
                    width: 100%;
                    opacity: 1;
                }
            }
            
        }
    }
}

.language-select{
    flex-basis: 200px; 
    margin-bottom: 0;
    list-style: none;
    li{
        margin: 0 5px;
        &:nth-of-type(1){
            margin-right: 20px;
        }
    }
    .lang{
        a{
            color: $white;
            font: 15px/1 $font-RalewayRegular;
            font-weight: 400;
            transition: font-weight 0.4s;
            padding: 5px 5px;
            &:hover{
                font-weight: 700;
                text-decoration: none;
            }
            
        }
        &.active{
            a{
                font-weight: 700;
            }
        }
    }
    .basket-button{
        img{
            width: 40px;
        }
    }
}