/**************** Product Detail Slider Style ****************/
.owl-detail{
    position: relative;
    z-index: 1;
    .owl-item{
        width: 170px;
    }
}
.owl-stage-outer{
    z-index: 1;
}
.owl-nav{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    .owl-next, .owl-prev{
        width: 30px;        
        position: absolute;
        transform: translateY(-50%);
        img{
            width: 100%;
            display: inline-block;
        }
    }
    .owl{
        &-next{
            right: -50px;
            top: 85px;
        }
        &-prev{
            left: -50px;
            top: 65px;
            transform: rotate(-180deg);
        }
    }
    button{
        &:active,&:focus{
            outline: none;
        }
    }
}

.owl-dots{
    text-align: center;
    .owl-dot{
        width: 5px;
        height: 5px;
        background-color: rgba($orange, 0.5)!important;
        border-radius: 5px;
        margin: 3px;
        &.active{
            background-color: $orange!important;
        }
    }
}

/**************** Product Detail Slider Responsive Style ****************/

.owl-nav{
    .owl{
        &-next{
            top: 75px;
        }
        &-prev{
            top: 55px;
        }
    }
}